### Core data structures

In [1]:
import pandas as pd

In [2]:
pd.Series([71, 84, 23,54,67,87])

0    71
1    84
2    23
3    54
4    67
5    87
dtype: int64

In [4]:
s1 = pd.Series([71, 84, 23,54,67,87], index=["a", "b", "c", "d", "e", "f"])

In [5]:
s1

a    71
b    84
c    23
d    54
e    67
f    87
dtype: int64

In [9]:
s1["a"]

np.int64(71)

In [11]:
d1 = pd.DataFrame({
    "name": ["a", "b", "c"],
    "age": [12, 13,14],
    "gender": ["M", "F", "F"]
})

In [12]:
d1

  name  age gender
0    a   12      M
1    b   13      F
2    c   14      F

In [13]:
s1.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [14]:
d1.index

RangeIndex(start=0, stop=3, step=1)

In [15]:
d1.columns

Index(['name', 'age', 'gender'], dtype='object')

### Creating data frames

In [17]:
data = [["harry" , 34], ["Jack", 67], ["James", 23]]

In [18]:
pd.DataFrame(data, columns=["Name", "Marks"])

    Name  Marks
0  harry     34
1   Jack     67
2  James     23

In [19]:
import numpy as np;

In [20]:
arr = np.array([[1, 2], [5, 6]])

In [21]:
df2 = pd.DataFrame(arr, columns=["value1" , " value2"])

In [22]:
df2

   value1   value2
0       1        2
1       5        6

In [28]:
excelData = pd.read_csv("pandas-1.csv")

In [29]:
excelData

      Name School  Marks
0  Shubham    ARR     76
1    Akash    SPS     12
2    Rishi    DPS     54
3    Ayush    LIX     23

In [32]:
df2 = pd.read_json("pandas-1.json")

In [33]:
df2

    name language school
0  Harry   Python    NaN
1  Rahul      C++    NaN
2    NaN      NaN    VPS

In [36]:
# df3 = pd.read_csv("url")

In [37]:
# head, tail, info, describe, columns, shape

### Data selection and filtering

In [38]:
df3 = pd.read_csv("pandas-2.csv")

In [39]:
df3

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
9,Kartik Aaryan,Bhool Bhulaiyaa 2,2022,Horror Comedy,266,5.9
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [41]:
df3["Actor"][3]

'Ranbir Kapoor'

In [44]:
df3[["Actor","IMDb"]]

                 Actor  IMDb
0       Shah Rukh Khan   7.2
1          Salman Khan   6.0
2           Aamir Khan   8.4
3        Ranbir Kapoor   5.6
4        Ranveer Singh   7.0
5   Ayushmann Khurrana   8.3
6        Rajkummar Rao   7.5
7       Hrithik Roshan   6.5
8         Akshay Kumar   7.0
9        Kartik Aaryan   5.9
10        Varun Dhawan   6.1
11       Vicky Kaushal   8.2

In [45]:
df3.loc[1]

Actor                       Salman Khan
Film                    Tiger Zinda Hai
Year                               2017
Genre                            Action
BoxOffice(INR Crore)                565
IMDb                                6.0
Name: 1, dtype: object

In [47]:
df3.iloc[1]

Actor                       Salman Khan
Film                    Tiger Zinda Hai
Year                               2017
Genre                            Action
BoxOffice(INR Crore)                565
IMDb                                6.0
Name: 1, dtype: object

In [49]:
df3.loc[10,"Actor"]

'Varun Dhawan'

In [56]:
df3.loc[0:3, "Actor":"IMDb"]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6

In [57]:
df3.at[0, "Actor"]

'Shah Rukh Khan'

In [59]:
 df3[df3["IMDb"] > 6]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
4,Ranveer Singh,Padmaavat,2018,Historical,585,7.0
5,Ayushmann Khurrana,Andhadhun,2018,Thriller,111,8.3
6,Rajkummar Rao,Stree,2018,Horror Comedy,180,7.5
7,Hrithik Roshan,War,2019,Action,475,6.5
8,Akshay Kumar,Good Newwz,2019,Comedy,318,7.0
10,Varun Dhawan,Badrinath Ki Dulhania,2017,Romantic Comedy,201,6.1
11,Vicky Kaushal,Uri: The Surgical Strike,2019,Action,342,8.2

In [62]:
df3[(df3["Year"] > 2020) & (df3["IMDb"] > 6)]

            Actor     Film  Year   Genre  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan  Pathaan  2023  Action                  1050   7.2

In [64]:
df3.query("Year > 2019 and IMDb > 6")

            Actor     Film  Year   Genre  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan  Pathaan  2023  Action                  1050   7.2

In [66]:
df3.query("Actor == 'Shah Rukh Khan'")

            Actor     Film  Year   Genre  BoxOffice(INR Crore)  IMDb
0  Shah Rukh Khan  Pathaan  2023  Action                  1050   7.2

In [67]:
name = "Salman Khan"

In [68]:
df3.query("Actor == @name")

         Actor             Film  Year   Genre  BoxOffice(INR Crore)  IMDb
1  Salman Khan  Tiger Zinda Hai  2017  Action                   565   6.0

In [70]:
df3.loc[0:3, "Actor":"IMDb"]

,Actor,Film,Year,Genre,BoxOffice(INR Crore),IMDb
0,Shah Rukh Khan,Pathaan,2023,Action,1050,7.2
1,Salman Khan,Tiger Zinda Hai,2017,Action,565,6.0
2,Aamir Khan,Dangal,2016,Biography,2024,8.4
3,Ranbir Kapoor,Brahmastra,2022,Fantasy,431,5.6